<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	xmlns="http://plugin.powerschool.pearson.com" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	description="Admin alert for students who have family rep flag set on their record" 
	name="Family Rep Alert" 
	version="1.0" 
	xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
	<publisher name="Chad Cole">
		<contact email="chadacole@gmail.com"/>
	</publisher>
</plugin>
